<form>
    <label for="cep" id="lcep">Digite CEP
        <input type="text" name="cep" id="cep" placeholder="Digite CEP" minlength="8" maxlength="10" focus="1">
    </label>
    <label for="cep" id="lrescep" style="display:none;">CEP
        <input type="text" name="rescep" id="rescep" placeholder="CEP" minlength="8" maxlength="8" focus="1">
    </label>
    <label for="rua">RUA
        <input type="text" name="rua" id="rua" placeholder="Rua">
    </label>
    <label for="numero">Número
        <input type="text" name="numero" id="numero" placeholder="Número">
    </label> 
    <label for="bairro">Bairro
        <input type="text" name="bairro" id="bairro" placeholder="Bairro">
    </label>
    <label for="complemento">Complemento
        <input type="text" name="complemento" id="complemento" placeholder="Complemento">
    </label>
    <label for="municipio">Município
        <input type="text" name="municipio" id="municipio" placeholder="Município">
    </label>
    <label for="uf">UF
        <input type="text" name="uf" id="uf" placeholder="UF">
    </label>
    <label for="ibge">Cod. Município
        <input type="text" name="ibge" id="ibge" placeholder="IBGE">
    </label>
</form>

<button id="reset">Limpar</button>

<div id="outputmenssage">
    <div id="menssage">
        <span>CEP Não encontrado - "HTML"</span>
        <button id="btn-close-menssage">X</button>
    </div> 
</div>


