<form>
    <label for="cep" id="lcep"> <span>Digite CEP</span> 
        <input type="text" name="cep" id="cep" minlength="8" maxlength="10" focus="1" placeholder="00.000-000">
    </label>
    <label for="cep" id="lrescep" style="display:none;">CEP
        <input type="text" name="rescep" id="rescep"  minlength="8" maxlength="8" focus="1" disabled>
    </label>
    <label for="rua"><span>rua</span>
        <input type="text" name="rua" id="rua" disabled>
    </label>
    <label for="numero" id="lnumero"><span>Número</span>
        <input type="text" name="numero" id="numero">
    </label> 
    <label for="bairro"><span>Bairro</span>
        <input type="text" name="bairro" id="bairro" disabled>
    </label>
    <label for="complemento"><span>Complemento</span>
        <input type="text" name="complemento" id="complemento" disabled>
    </label>
    <label for="municipio"><span>Município</span>
        <input type="text" name="municipio" id="municipio" disabled>
    </label>
    <label for="uf"><span>UF</span>
        <input type="text" name="uf" id="uf" disabled>
    </label>
    <label for="ibge"><span>Cod. Município</span>
        <input type="text" name="ibge" id="ibge" disabled>
    </label>
</form>

<button id="reset"><i class="ph ph-x"></i></button>

<div id="outputmenssage">
    <div id="menssage">
        <span>CEP Não encontrado - "HTML"</span>
        <button id="btn-close-menssage" title="LIMPAR">&#10006;</button>
    </div> 
</div>


