* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #4962F2;
}

body form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
}

body form label{
    overflow: hidden;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

}

@media (max-width: 496px)
{    
    body form {
        width: 320px;
    }

    body form label{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
}

body form input {
    position: relative;
    font-size: 20px;
    padding: 8px;
    outline: none;
    border: 0.5px solid rgba(0, 0, 0, 0.223);
    border-radius: 8px;
}

body button#reset {
    width: 100px;
    cursor: pointer;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.223);
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    transition: all .2s linear;
}

body button#reset:hover{
    background-color:rgb(0, 0, 0);
    color: white;
    
}

h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 4px;
    background-color: transparent;
    border: 0.5px solid black;
}

body #outputmenssage{
    width: 100vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
   
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body #outputmenssage.show {
    display: flex;
}

body #outputmenssage #menssage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px white;
    border-radius: 5px;
    width: 320px;
    padding: 10px;
    z-index: 100;
}

body #outputmenssage #menssage span {
    text-transform: capitalize;
    font-weight: 600;
}

body #outputmenssage #menssage button{
    width: 40px;
    height: 30px;
    color: white;
    /* transform: translateX(89px); */
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.466);
    background-color: rgb(233, 27, 27);
    cursor: pointer;
}

body #outputmenssage #menssage button:active {
    background-color: rgba(233, 27, 27, 0.573);
}