* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "consolas";
}

body {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
}

body form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;

    max-width: 680px;
}

body form label#lcep {
    width: 100%;
}

body form label#lcep span{
    background-color: #ea8339;
}

body form label#lnumero span{
    background-color: #ea8339;
}

body form label {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    border: 1.5px  solid rgba(0, 0, 0, 0.353);
    border-radius: 8px;
    overflow: hidden;
    flex-grow: 1;
}

body form label:hover{
    box-shadow: 50px  solid rgba(241, 241, 241, 0.811);
}

body form label span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    background-color: #273791;
    color: white;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    font-size: 15px;
    padding: 5px 10px;
    text-transform: capitalize;
    letter-spacing: 3px;
    text-align: end;
}

body form input {
    position: relative;
    font-size: 20px;
    padding: 8px;
    outline: none;
    border: 0.5px solid rgba(0, 0, 0, 0.223);
    /* border-end-end-radius: 8px;
    border-bottom-left-radius: 8px; */
}

body button#reset {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.223);
    color: rgb(237, 47, 0);
    font-size: 30px;
    transition: all .2s linear;
    padding-bottom: 7px;
    overflow: hidden;
}

body button#reset:hover{
    background-color:rgb(0, 0, 0);
    color: white;
    animation: Reset .4s linear infinite;
}

@keyframes Reset {
    0% 
    {
        transform: rotateZ(0deg) scale(1);
        
    } 
    50%
    {
        transform: rotateZ(180deg) scale(1.2)
    }
    100%
    {
        transform: rotateZ(360deg) scale(1);
    }
}

h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 4px;
    background-color: transparent;
    border: 0.5px solid black;
}

body #outputmenssage{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
   
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body #outputmenssage.show {
    display: flex;
}

body #outputmenssage #menssage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px white;
    border-radius: 5px;
    width: 320px;
    padding: 10px;
    z-index: 100;
    margin-top: 30px;
}

body #outputmenssage #menssage span {
    text-transform: capitalize;
    font-weight: 600;
}

body #outputmenssage #menssage button{
    width: 40px;
    height: 30px;
    color: white;
    transform: translateX(89px);
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.466);
    background-color: rgb(233, 27, 27);
    cursor: pointer;
}

body #outputmenssage #menssage button:active {
    background-color: rgba(233, 27, 27, 0.573);
}

@media (max-width: 380px)
{    
    body form{

        flex-direction: column;

    }

}

:disabled{
    background-color: rgba(255, 235, 235, 0.663);
}